@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color:#007bff;
    --red:#e74c3c;
    --orange:#f39c12;
    --light-color:#888;
    --light-bg:#eee;
    --black:#2c3e50;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,.2);
 }

 *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
 }

 *::selection{
    background-color: var(--main-color);
    color:#fff;
 }

 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }

 html::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
 }

 html::-webkit-scrollbar-track{
    background-color: transparent;
 }

 html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }

 body{
    background-color: var(--light-bg);
    padding-left: 30rem;
 }

 body.dark{
    --light-color:#aaa;
    --light-bg:#333;
    --black:#fff;
    --white:#222;
    --border:.1rem solid rgba(255,255,255,.2);
 }

 body.active{
    padding-left: 0;
 }

 section{
    padding:2rem;
    margin: 0 auto;
    max-width: 1200px;
 }

 .heading{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 2.5rem;
    border-bottom: var(--border);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
 }

 .inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
   background-color:var(--orange);
}



.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}

.header{
    position: sticky;
    top:0; left:0; right: 0;
    background-color: var(--white);
    z-index: 1000;
    border-bottom: var(--border);
 }

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
 }

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
 }

.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding:1.5rem 2rem;
    display: flex;
    gap:2rem;

 }

.header .flex .search-form input{
    width: 100%;
    font-size: 1.8rem;
    color:var(--black);
    background:none;
 }

.header .flex .search-form button{
   background:none;
   font-size: 2rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .search-form button:hover{
    color: var(--main-color);
 }

.header .flex .icons div{
    font-size: 2rem;
    color:var(--black);
    background-color: var(--light-bg);
    border-radius: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: .7rem;
}

.header .flex .icons div:hover{
    background-color: var(--black);
    color:var(--white);
}

.header .flex .profile{
    position: absolute;
    top:120%; right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
    width: 30rem;
}

.header .flex .profile.active{
    transform: scale(1);
}
 
.header .flex .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}
 
.header .flex .profile .name{
    font-size: 2rem;
    color:var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 
.header .flex .profile .role{
    font-size: 1.8rem;
    color: var(--light-color);
}

#search-btn{
    display: none;
}

.side-bar{
    position: fixed;
    top: 0; left: 0;
    width: 30rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
}
 
.side-bar #close-btn{
    text-align: right;
    padding: 2rem;
    display: none;
}

.side-bar #close-btn i{
    text-align: right;
    font-size: 2.5rem;
    background:var(--red);
    border-radius: .5rem;
    color:var(--white);
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
 }

.side-bar #close-btn i:hover{
    background-color: var(--black);
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.side-bar .profile .name{
    font-size: 2rem;
    color:var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-bar .profile .role{
    font-size: 1.8rem;
    color: var(--light-color);
}

.side-bar .navbar a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
 }
 
 .side-bar .navbar a img{
    background: none;
    height: 30px;
    margin-right: 1rem;
    display: inline;
    color: var(--main-color);
 }
 

 .home{
    position: relative;
    width: 100%;
    height:40vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 70px 10% 0;
 
 }
 .home-content{
    max-width: 600px;
 }

 .home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
 }
 .home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
 }
 .home-content h3 span{
    color:#FFB562;
 }
 .home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    letter-spacing: 1px;
 }
 .home-content p{
    font-size: 16px;
 }
 .home-img img{
    max-width: 425px;
    margin-right: -20px;
    opacity:0;
    height: 22rem;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s;
    
 }


.wave {
    display: inline-block;
    animation: waveAnimation 2s infinite;
    transform-origin: 70% 70%;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
 }
 @keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity:0;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
 }
 @keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity:1;
    }
 }
 @keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity:1;
    }
 }
 @keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity:0;
    }
    100%{
        transform: scale(1);
        opacity:1;
    }
 }
 
 @keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
 }
 
 @keyframes waveAnimation {
    0%, 100% {
      transform: rotate(0);
    }
    20% {
      transform: rotate(-20deg);
    }
    40% {
      transform: rotate(20deg);
    }
    60% {
      transform: rotate(-20deg);
    }
    80% {
      transform: rotate(20deg);
    }
  }
 

.form-container{
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.form-container form{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
}
 
.form-container form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--black);
    text-align: center;
}
 
.form-container form p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-top: 1rem;
}
 
.form-container form p span{
    color: var(--red);
}
 
.form-container form .box{
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    padding: 1.4rem;
    background-color: var(--light-bg);
    width: 100%;
    margin: 1rem 0;
}






.footer{
    background-color: var(--white);
    border-top: var(--border);
    position: sticky;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    font-size: 2rem;
    padding:2.5rem 2rem;
    color:var(--black);
    margin-top: 1rem;
    z-index: 1000;
    /* padding-bottom: 9.5rem; */
 }
 
 .footer span{
    color:var(--main-color);
 }


 .Submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
 
.next{
    display: flex;
    justify-content: center;
}
.next h2{
    color: #e74c3c;
    margin-top: 2rem;
    margin-left: 3rem;
    padding-right: 2rem;
}
