.Manage_playlist {
  background-color: #f9f9f9;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.playlists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.playlist {
  cursor: pointer;
  padding: 20px;
  background-color: #f5f6f7;
  color: #333;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 25rem;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.playlist-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.playlist-description {
  
  color: #777;
  margin-bottom: 15px;
}

.playlist-details p{
  font-size: 15px;
  color: #777;
}

.playlist-details h3{
  font-size: 20px;
}

.playlist:hover {
  transform: translateY(-5px);
  background-color: #e0f0ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.playlist img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.video-thumbnail {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: 4px;
}

video {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-btn{
  background-color: #e74c3c;
  color: white;
  height: 60px;
  width: 150px;
  margin-top: 2rem;
  
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-btn:hover,
.inline-delete-btn:hover {
  background-color: #c0392b;
  
  transform: translateY(-2px);
}